{% extends "layout.html" %}
{% block body %}
  <h2>{{ ad.theme }}</h2>
  <form action="" method=post>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <div class="ad_info">
    <p> {{ ad.date }}</p>
    <p> {{ ad.text }}</p>
    <p> Author: {{ ad.author }}</p>
    </div>
    <div class="new_comment">
      <p>Leave your comment:</p>
      <p>Name:</p>
        <input type=text name=comment_author maxlength="100">
      <p>
        <textarea maxlength="200" rows="4" name=comment_text>Your comment</textarea>
        <input type=submit value="Publish">
    </div>
    <div class="ad_comments">
      {% for item in ad.comments %}
        <div class="comment">{{ item.author }}
            <p>{{item.date}}</p>
            <p> {{item.text}}</p>
        </div>
      {% endfor %}
    </div>
  </form>
{% endblock %}